.search-container {
    display: flex;
    justify-content: space-between;
    font-size: large;
    align-items: center;

}

.search-bar {
    width: 95%;
    height: 2rem;
    border-radius: 0.5rem;
    padding-left: 0.5rem;
}

.search-icon {
    position: absolute;
    left: 52rem;
}

.arrow-icon {
    padding-right: 0.5rem;
    position: absolute;
    left: 34rem;
    font-size: larger;
}


 nav{
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
 }
 .disabled{
    color: gray;
 }

 .container-fav{
    margin: 1.5rem 0;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    text-align: center;


 }

 img{
    border-radius: 50%;
    width: 3rem;
 }
 .title-fav{
    margin-top: 2.5rem;
 }


 /* .line-break-chat{
    margin: 1rem 0.5rem 1rem 0.5rem;
 } */
 .chat-container{
   display: flex;
   justify-content: space-between;
 }
 .message-chat-container{
   display: flex;
   text-align: start;
   padding: 1.5rem 0 1.5rem 0;
   align-items: center;
   justify-content: flex-start;
   gap: 1rem;
}
.flex-item{
   margin-left: auto;
   

}

.text-number{
   border-radius: 50%;
   background-color: rgb(144, 3, 144);
   color: white;
   text-align: center;
   width: 1rem;
   font-size: 0.5rem;
   padding: 0.2rem;
 
}

.text-num-container {
   font-weight: bolder;
}