.container-fav {
    margin: 1rem 0;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    text-align: center;
}

.fav-new-chat {
    border-radius: 50%;
    border: 0.5px solid brown;
    width: 3.8rem;
}

.title-fav {
    margin-top: 2.5rem;
}