.search-container {
    display: flex;
    justify-content: space-between;
    font-size: large;
    align-items: center;
    position: relative;

}

.search-bar {
    width: 95%;
    height: 2rem;
    border-radius: 0.5rem;
    padding-left: 0.5rem;

}

.search-icon {
    position: absolute;
    color: gray;
    right: 4rem;
    position: sticky;

}

.arrow-icon {
    padding-right: 0.5rem;
    font-size: larger;
}