* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(45deg, purple, blue);
    font-size: 12px;
}

.chatApp {
    width: 25vw;
    height: 85vh;
    background-color: white;
    border-radius: 1.5rem;
    overflow: scroll;
    padding: 4rem 2rem 2rem 2rem
}

input {
    outline: none;
    border: 0.2px solid gray;

}


@media screen and (max-width:950px) {
    .chatApp {
        width: 100vw;
        height: 100vh;
        border-radius: 0;
    }
}
